.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.product {
  border: 1px solid black;
}

.product > .header {
  display: flex;
  justify-content: space-between;
  background-color: gainsboro;
  padding: 0.5rem;
}

.product > .body {
  padding: .5rem;
  display: flex;
  justify-content: center;
}

.product > .footer {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}

.img {
  width: 15rem;
  border: 1px solid gainsboro;
}
